@import "tailwindcss";

@theme {
  --color-cor-mamao:  "#FF7F6A";
  --animate-pulse-shadow: pulse-shadow 2s infinite;
  
}

@keyframes pulse-shadow {
    0% {
      box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
    }
    50% {
      box-shadow: 0 0 20px rgba(0, 0, 255, 0.8);
    }
    100% {
      box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
    }
  }
